<!DOCTYPE html>
<html>
  <head>
    <title>Lax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_path('favicon.png') %>
    <% if logged_in? %>
      <script >
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <svg id="logo-bg" height="0" width="0" style="position: absolute;">
        <defs>
            <pattern id="logo-colors" patternContentUnits="objectBoundingBox" width="1" height="1"
                patternTransform="scale(-1.2,1.2) translate(66,-58)">
                <image href="<%= image_url("patterns/logo") %>" x="0" y="0" width="1" height="1" />
            </pattern>
        </defs>
    </svg>
    <%= yield %>
  </body>
</html>
